.app-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 60px;
  width: 8.28%;
  color: white;
}

.app-image{
  width: 100%;
  object-fit: contain;
  height: 130px;
}

.app-name{
  font-size: large;
  margin-top: 15px;
}